<mat-card>
  <b><span>Обрані Теми</span></b>
</mat-card>
<hr>
<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Пошук по всім колонкам</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>
<hr>
<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="student_name">
      <th mat-header-cell *matHeaderCellDef>Студент</th>
      <td mat-cell *matCellDef ="let  element">{{element.student_name}}</td>
    </ng-container>
    <ng-container matColumnDef="directionofthesis_name">
      <th mat-header-cell *matHeaderCellDef>Напрямок</th>
      <td mat-cell *matCellDef ="let  element">{{element.directionofthesis_name}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Тема</th>
      <td mat-cell *matCellDef ="let  element">{{element.description}}</td>
    </ng-container>
<!--    <ng-container matColumnDef="description">-->
<!--      <th mat-header-cell *matHeaderCellDef>Опис</th>-->
<!--      <td mat-cell *matCellDef ="let  element">{{element.description}}</td>-->
<!--    </ng-container>-->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Дії</th>
      <td mat-cell *matCellDef ="let  element" class="action-link">
        <button mat-icon-button style="background-color: #ffffff; color: #003366" matTooltip="Додаткова інформація" (click)="handleViewInformation(element)">
          <mat-icon>visibility_icon</mat-icon>
        </button>
        <button mat-icon-button style="background-color: #ffffff; color: rgba(5,35,59,0.83)" matTooltip="Календарний План" (click)="handleViewTasks(element)">
          <mat-icon>rate_review_icon</mat-icon>
        </button>
        <button mat-icon-button style="background-color: #ffffff; color: rgba(5,35,59,0.83)" matTooltip="Звіт" (click)="handleViewReport(element)">
          <mat-icon>file_copy_icon</mat-icon>
        </button>
        <button mat-icon-button style="background-color: #ffffff; color: rgba(5,35,59,0.83)" matTooltip="Щоденник" (click)="handleViewDiary(element)">
          <mat-icon>insert_drive_file_icon</mat-icon>
        </button>
        <button mat-icon-button style="background-color: #ffffff; color: rgba(5,35,59,0.83)" matTooltip="Чат" (click)="handleViewChat(element)">
          <mat-icon>chat_icon</mat-icon>
        </button>
        <button mat-icon-button style="background-color: #ffffff; color: rgba(5,35,59,0.83)" matTooltip="Відв'язати студента" (click)="handleRemoveStudent(element)">
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
  </table>
</div>
