<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">{{label_name}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addDiplomaPracticeForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Напрямок</mat-label>
        <mat-select formControlName="directionId" (selectionChange)="onSelectionChange($event.value)">
          <mat-option *ngFor="let dir of direction" [value]="dir.id">
            {{ dir.group_name }} - {{ dir.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxLayout = "row wrap">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Тема</mat-label>
          <textarea matInput formControlName="description" required rows="1" (input)="autoResize($event)"></textarea>
          <mat-error *ngIf="addDiplomaPracticeForm.controls.description.touched && addDiplomaPracticeForm.controls.description.invalid">
            <span *ngIf="addDiplomaPracticeForm.controls.description.errors.required">Це поле э обовёязковим для заповнення.</span>
            <span *ngIf="addDiplomaPracticeForm.controls.description.errors.pattern">Ви вели неправильну інформацію.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="direction-info" *ngIf="selectedDirection">
        <div class="direction-item">
          <span class="label">Група:</span>
          <span class="value">{{ selectedDirection.group_name }}</span>
        </div>
        <div class="direction-item">
          <span class="label">Напрямок:</span>
          <span class="value">{{ selectedDirection.name }}</span>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="my-button" mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(addDiplomaPracticeForm.valid && addDiplomaPracticeForm.dirty)">Додати</button>
  <button mat-raised-button color="primary" mat-dialog-close>Скасувати</button>
</mat-dialog-actions>
