.mat-toolbar{
  background-color: #0374c7;
  margin: -24px;
  width: auto;
  margin-bottom: 10px;
}

.title-center{

  flex: 1 1 auto;
  text-align: center;
}

mat-form-field{
  padding: 5px;
}

.my-button {
  transition: background-color 0.3s ease;

  &:not([disabled]) {
    background-color: #4caf50; /* Зеленый цвет для активной кнопки */
    color: white;
  }

  &:disabled {
    background-color: #d3d3d3; /* Серо-прозрачный цвет для задизейбленной кнопки */
    color: #a9a9a9; /* Цвет текста для задизейбленной кнопки */
  }
}



.direction-info {
  padding: 16px;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.direction-item {
  margin-bottom: 12px;
}

.item-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 8px; /* Отступ между строками */
}

.label {
  font-weight: 500;
  color: #0056b3;
  margin-right: 8px; /* Пробел между заголовком и значением */
}

.value {
  color: #333;
}

@media (max-width: 600px) {
  .item-content {
    grid-template-columns: 1fr; /* Вытягивает содержимое по ширине на маленьких экранах */
  }

  .label {
    margin-bottom: 4px; /* Уменьшенный отступ снизу на маленьких экранах */
  }
}


