<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">Змінити пароль</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="changePasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Старий пароль</mat-label>
        <input matInput formControlName="oldPassword" type="password" required>
        <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">Це поле э обовёязковим для заповнення.</span>
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.pattern">Ви вели неправильну інформацію.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Новий пароль</mat-label>
        <input matInput formControlName="newPassword" type="password" required>
        <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
          <span *ngIf="changePasswordForm.controls.newPassword.errors.required">Це поле э обовёязковим для заповнення.</span>
          <span *ngIf="changePasswordForm.controls.newPassword.errors.pattern">Ви вели неправильну інформацію.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Підтвердження нового паролю</mat-label>
        <input matInput formControlName="confirmPassword" сtype="password" required>
        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
          <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">Це поле э обовёязковим для заповнення.</span>
          <span *ngIf="changePasswordForm.controls.confirmPassword.errors.pattern">Ви вели неправильну інформацію.</span>
        </mat-error>
        <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmPassword.invalid)">
          <span>Новий пароль та його підтвердження не збігаються.</span>
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="my-button" mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="validateSubmit() || !(changePasswordForm.valid && changePasswordForm.dirty)">Підтвердити</button>
  <button mat-raised-button color="primary" mat-dialog-close>Скасувати</button>
</mat-dialog-actions>
