<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
  <h2 style="
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0,0,0,0.67);
    text-align: center;
    background-color: #dbf0ff;
    border-radius: 12px;
    margin: 0 10px 15px 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  "
      (mouseover)="this.style.transform='scale(1.05)'; this.style.boxShadow='0px 6px 12px rgba(0, 0, 0, 0.2)';"
      (mouseout)="this.style.transform='scale(1)'; this.style.boxShadow='0px 4px 6px rgba(0, 0, 0, 0.1)';"
  >
    {{login}}
  </h2>
  <button mat-menu-item (click)="changePassword()">
    <mat-icon>password</mat-icon> Змінити пароль
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon> Вийти
  </button>
</mat-menu>
