<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #profile="matMenu" class="mymegamenu">
  <h2 style="
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0,0,0,0.67);
    text-align: center;
    background-color: #dbf0ff;
    border-radius: 12px;
    margin: 0 10px 15px 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  "

  >
    {{login}}
  </h2>
  <button mat-menu-item (click)="changePassword()">
    <mat-icon>password</mat-icon> Змінити пароль
  </button>
  <button *ngIf="user_type == '1'" mat-menu-item (click)="openChat()">
    <mat-icon>chat</mat-icon> Чат з керівником
  </button>
  <button *ngIf="user_type == '2'" mat-menu-item (click)="openChatToAdmins()">
    <mat-icon>chat</mat-icon> Зв'язок з адміністрацією
  </button>
  <button *ngIf="user_type == '3'" mat-menu-item (click)="openGetReport()">
    <mat-icon>archive_icon</mat-icon> Сформувати звіт
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon> Вийти
  </button>
</mat-menu>
