<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Основні Функції Системи</h2>
            <br><br><br>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Надання зручного інтерфейсу для поставлених завдань</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Одна з основних функцій є реазілований зручний інтерфейс, розроблений для максимального комфорту користувачів.
                          Інтерфейс є інтуїтивно зрозумілим і простим у використанні, що дозволяє знизити час на навчання та уникнути помилок.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Обмін інформацією між Студентом та Керівником</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Основною функцією нашої системи є ефективний обмін інформацією між студентами та керівниками.
                          Система забезпечує зручний та надійний канал для комунікації, що дозволяє швидко обмінюватися важливими даними.
                          Це спрощує процес співпраці, зменшує ймовірність непорозумінь.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Можливість Автоматизованого адміністрування даних в системі</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                          Ця функція забезпечує ефективне управління даними без потреби ручного втручання, що дозволяє знизити ймовірність помилок.
                          Автоматизація процесів адміністрування спрощує керування інформацією, підвищує точність та оперативність оновлень, що в результаті сприяє більш зручному і ефективному використанню системи.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Контроль виконання поставлених завдань із практики</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Ця функція дозволяє ефективно моніторити прогрес у виконанні завдань, забезпечуючи в реальному часі оновлення статусів та досягнень.
                          Відстеження допомагає виявляти проблеми на ранніх стадіях і підтримувати належний рівень контролю, що сприяє успішному завершенню практичних завдань і підвищує загальну продуктивність.</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>
