<mat-card>
  <b><span>Етапи</span></b>
  <button *ngIf="user_type == 3" mat-flat-button style="background-color: #ffaa68; color: white" class="float-right" (click)="handleAddAction()"><mat-icon>local_hospital_icon</mat-icon>   Додати</button>
</mat-card>
<hr>
<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Фільтрування</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>
<hr>
<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Назва Етапів</th>
      <td mat-cell *matCellDef ="let  element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="from_date">
      <th mat-header-cell *matHeaderCellDef>Початкова дата</th>
      <td mat-cell *matCellDef ="let  element">{{element.from_date | date:'dd.MM.yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="to_date">
      <th mat-header-cell *matHeaderCellDef>Кінцева дата</th>
      <td mat-cell *matCellDef ="let  element">{{element.to_date | date:'dd.MM.yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Дії</th>
      <td mat-cell *matCellDef ="let  element" class="action-link">
        <button *ngIf="user_type == 3" mat-icon-button style="background-color: yellowgreen; color: #003366" matTooltip="Редагувати" (click)="handleEditAction(element)">
          <mat-icon>edit_icon</mat-icon>
        </button>
        <button *ngIf="user_type == 3" mat-icon-button style="background-color: orangered; color: rgba(5,35,59,0.83)" matTooltip="Видалити" (click)="handleDeleteAction(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
  </table>
</div>
