
<mat-card>
  <b><span>Інформаційна панель</span></b>
</mat-card>
<hr>
<body>
<div class="row">
  <div class="column" *ngFor="let dashiboardItem of dashboardItems.geDashboarditem()">
    <div class="card" *ngIf="(dashiboardItem.role === '' || dashiboardItem.role == tokenPayLoad.user_type)">
      <div class="container">
        <h2 class="title">{{dashiboardItem.name}}</h2>
        <h1 class="title">{{data[dashiboardItem.variable_name]}}</h1>
        <p><button style="background-color: #1abc9c" class="button" [routerLink]="[dashiboardItem.state]">Переглянути</button></p>
      </div>
    </div>
  </div>
<!--  <mat-nav-list appAccordion>-->
<!--    <mat-list-item appAccordionLink *ngFor="let dashiboardItem of dashboardItems.geDashboarditem()" routerLinkActive="selected" group="{{menuitem.state}}">-->
<!--      <a appAccordionToggle [routerLink]="['/main', menuitem.state]" *ngIf="(menuitem.role === '' || menuitem.role == tokenPayLoad.user_type)">-->
<!--        <mat-icon>{{menuitem.icon}}</mat-icon>-->
<!--        <span>{{menuitem.name}}</span>-->
<!--        <span fxFlex></span>-->
<!--      </a>-->
<!--    </mat-list-item>-->
<!--  </mat-nav-list>-->

  <!--  <div class="column">-->
<!--    <div class="card">-->
<!--      <div class="container">-->
<!--        <h2 class="title">Кількість спеціальностей:</h2>-->
<!--        <h1 class="title">{{data?.specialityCount}}</h1>-->
<!--        <p><button style="background-color: #1abc9c" class="button" [routerLink]="['/main/speciality']">Переглянути</button></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column">-->
<!--    <div class="card">-->
<!--      <div class="container">-->
<!--        <h2 class="title">Кількість активних практик:</h2>-->
<!--        <h1 class="title">{{data?.diplomapracticeCount}}</h1>-->
<!--        <p><button style="background-color: #1abc9c" class="button" [routerLink]="['/main/diplomapractice']">Переглянути</button></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
</body>

